################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Voltran.Core/bin/Debug/net9.0
/Voltran.Core/obj
